.location-finder-button {
  order:-1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  background: none;
  border: none;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin: 0 auto;
}
.location-finder-button img {
  width: 24px;
  height: 24px;
}
