.location-finder-button {
  display: flex;
  align-items: center; /* 아이콘을 중앙에 정렬 */
  justify-content: center;
  padding: 0 8px;
  background: none;
  border: none;
  cursor: pointer;
  height: 48px;
  width: 48px;
  transform: translateY(24px);
  margin: 0 auto;
}

.location-finder-button img {
  width: 24px;
  height: 24px;
  transform: translateX(10px); /* 아이콘을 오른쪽으로 밈 */
}
